<div class="nested-fields form-inline">
  <div class="form-tag-discription">
    <%= f.label "説明" %>
    <%= f.text_field :body %>
    <%= link_to_remove_association "remove description", f %>
  </div>
</div>